:root {
  --dark-blue: hsl(235, 21%, 11%);
  --bright-blue: hsl(220, 98%, 61%);
  --darkish-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: Josefin Sans;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.dark {
  background-color: var(--dark-blue);
  margin: 0;
}

.dark body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
}

.dark .container {
  max-width: 1400px;
  margin: auto;
  background-image: url("../images/bg-desktop-dark.jpg");
  background-size: 600px 200px;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .dark .container {
    background-size: 1200px 240px;
  }
}

.dark .container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

@media (min-width: 40em) {
  .dark .container .heading {
    width: 34rem;
  }
}

.dark .container h1 {
  letter-spacing: 0.75rem;
  color: #fafafa;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 40em) {
  .dark .container h1 {
    font-size: 2rem;
  }
}

.dark .container .mode {
  background-image: url("../images/icon-sun.svg");
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark .container .todo {
  margin: 1.8rem auto;
}

.dark .container input {
  outline: none;
}

.dark .container .addTodo {
  margin-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark .container .addTodo .bullet {
  position: absolute;
  margin-left: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.6rem;
  background-color: var(--darkish-blue);
  -webkit-box-shadow: 0px 0px 0px 1px #4d5066;
          box-shadow: 0px 0px 0px 1px #4d5066;
}

.dark .container .addTodo input {
  padding-left: 3rem;
  background-color: var(--darkish-blue);
  color: var(--light-grayish-blue);
  font-family: Josefin Sans;
  border: none;
  font-size: 18px;
  width: 20rem;
  height: 3.1rem;
  border-radius: 0.3rem;
  border: none;
}

@media (min-width: 40em) {
  .dark .container .addTodo input {
    width: 34rem;
    height: 4rem;
  }
}

.dark .container .addTodo ::-webkit-input-placeholder {
  color: var(--dark-grayish-blue);
  font-size: 12px;
}

.dark .container .addTodo :-ms-input-placeholder {
  color: var(--dark-grayish-blue);
  font-size: 12px;
}

.dark .container .addTodo ::-ms-input-placeholder {
  color: var(--dark-grayish-blue);
  font-size: 12px;
}

.dark .container .addTodo ::placeholder {
  color: var(--dark-grayish-blue);
  font-size: 12px;
}

@media (min-width: 40em) {
  .dark .container .addTodo ::-webkit-input-placeholder {
    font-size: 14px;
  }
  .dark .container .addTodo :-ms-input-placeholder {
    font-size: 14px;
  }
  .dark .container .addTodo ::-ms-input-placeholder {
    font-size: 14px;
  }
  .dark .container .addTodo ::placeholder {
    font-size: 14px;
  }
}

.dark .container .todoList {
  padding-left: 0;
  -webkit-box-shadow: 3px 3px 29px 0px rgba(1, 2, 19, 0.3);
          box-shadow: 3px 3px 29px 0px rgba(1, 2, 19, 0.3);
  margin-bottom: 0;
}

.dark .container .todoList :hover {
  cursor: pointer;
}

.dark .container .todoList :hover li input {
  -webkit-box-shadow: 0px 0px 0px 1px blue;
          box-shadow: 0px 0px 0px 1px blue;
}

.dark .container .todoList li {
  background-color: var(--darkish-blue);
  color: var(--light-grayish-blue);
  width: 20rem;
  border-radius: 5px 5px 0px 0px;
  height: 3.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 40em) {
  .dark .container .todoList li {
    width: 34rem;
    height: 4rem;
  }
}

.dark .container .todoListItem {
  border-bottom: 1px solid #4d5066;
}

.dark .container .todoListItem:first-child {
  border-radius: 5px 5px 0 0 !important;
}

.dark .container .itemLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark .container .todoList li label {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 0.75rem;
}

@media (min-width: 40em) {
  .dark .container .todoList li label {
    font-size: 14px;
  }
}

.dark .container .todoListItem:hover .itemLabel input {
  -webkit-box-shadow: 0px 0px 0px 1px #57ddff;
          box-shadow: 0px 0px 0px 1px #57ddff;
}

.dark .container .todoListItem:hover .cross {
  opacity: 1;
}

.dark .container li input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--darkish-blue);
  -webkit-box-shadow: 0px 0px 0px 1px #4d5066;
          box-shadow: 0px 0px 0px 1px #4d5066;
  padding: 0.25rem;
  border-radius: 0.75rem;
  display: inline-block;
  position: relative;
}

.dark .container li input :hover {
  -webkit-box-shadow: 10px 10px 10px 11px white;
          box-shadow: 10px 10px 10px 11px white;
}

.dark .container li input :hover .cross {
  opacity: 1;
}

.dark .container li input:checked {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#57ddff, #c058f3);
}

.dark .container li input:checked::after {
  content: url("../images/icon-check.svg");
}

.dark .container .cross {
  margin-right: 1rem;
  opacity: 1;
}

.dark .container .cross img {
  width: 10px;
  height: 10px;
}

@media (min-width: 40em) {
  .dark .container .cross {
    opacity: 0;
  }
}

.dark .container li input:hover .cross {
  opacity: 1;
}

.dark .container .controls {
  background-color: var(--darkish-blue);
  -webkit-box-shadow: 3px 3px 29px 0px rgba(1, 2, 19, 0.3);
          box-shadow: 3px 3px 29px 0px rgba(1, 2, 19, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
  height: 3.3125rem;
  border-radius: 0 0 0.3rem 0.3rem;
}

.dark .container p {
  color: var(--dark-grayish-blue);
}

.dark .container span {
  margin-left: 1rem;
  color: var(--light-grayish-blue);
}

.dark .container #clear {
  margin-right: 1rem;
  color: var(--dark-grayish-blue);
}

.dark .container #clear:hover {
  color: var(--light-grayish-blue);
}

.dark .container .drag {
  color: var(--dark-grayish-blue);
  font-size: 0.85rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.dark .container .selected {
  text-decoration: line-through;
  color: var(--very-dark-grayish-blue);
}

.dark .container .attribution {
  font-size: 0.75rem;
  color: var(--dark-grayish-blue);
  text-align: center;
}

.dark .container .attribution a {
  text-decoration: none;
}

.dark .container .hide-for-mobile {
  padding-left: 0;
  background-color: var(--very-dark-blue);
  color: var(--dark-grayish-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  background-color: var(--darkish-blue);
}

.dark .container .hide-for-mobile :hover {
  color: var(--light-grayish-blue);
}

.dark .container .hide-for-mobile li {
  padding: 0.45rem;
}

.dark .container .hide-for-mobile li :hover {
  color: var(--light-grayish-blue);
}

@media (max-width: 40em) {
  .dark .container .hide-for-mobile {
    margin-top: 0 !important;
    display: none;
  }
}

.dark .container .hide-for-desktop {
  padding-left: 0;
  background-color: var(--darkish-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0.4rem;
  height: 3.3125rem;
  border-radius: 0.3rem;
}

.dark .container .hide-for-desktop li {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: var(--dark-grayish-blue);
  text-decoration: none;
  padding: 0.45rem;
  font-size: 0.85rem;
}

@media (min-width: 40em) {
  .dark .container .hide-for-desktop {
    display: none;
    margin-top: 1rem !important;
  }
}

.bright {
  background-color: #fafafa;
  margin: 0;
}

.bright body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.bright .container {
  max-width: 1400px;
  margin: auto;
  background-image: url("../images/bg-desktop-light.jpg");
  background-size: 600px 200px;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 40em) {
  .bright .container {
    background-size: 1400px 300px;
  }
}

.bright .container .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 40em) {
  .bright .container .heading {
    width: 34rem;
  }
}

.bright .container h1 {
  letter-spacing: 0.75rem;
  color: #fafafa;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 40em) {
  .bright .container h1 {
    font-size: 2.45rem;
  }
}

.bright .container .mode {
  background-image: url("../images/icon-moon.svg");
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.bright .container .todo {
  margin: 2rem auto;
}

@media (min-width: 40em) {
  .bright .container .todo {
    margin: 3rem auto;
  }
}

.bright .container input {
  outline: none;
}

.bright .container .addTodo {
  margin-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bright .container .addTodo .bullet {
  position: absolute;
  margin-left: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.6rem;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 0px 1px var(--light-grayish-blue);
          box-shadow: 0px 0px 0px 1px var(--light-grayish-blue);
}

.bright .container .addTodo input {
  padding-left: 3rem;
  background-color: #fafafa;
  color: #4d5066;
  font-family: Josefin Sans;
  border: none;
  font-size: 18px;
  width: 20rem;
  height: 3.1rem;
  border-radius: 0.3rem;
  border: none;
}

@media (min-width: 40em) {
  .bright .container .addTodo input {
    width: 34rem;
    height: 4rem;
  }
}

.bright .container .addTodo ::-webkit-input-placeholder {
  color: #9394a5;
  font-size: 12px;
}

.bright .container .addTodo :-ms-input-placeholder {
  color: #9394a5;
  font-size: 12px;
}

.bright .container .addTodo ::-ms-input-placeholder {
  color: #9394a5;
  font-size: 12px;
}

.bright .container .addTodo ::placeholder {
  color: #9394a5;
  font-size: 12px;
}

@media (min-width: 40em) {
  .bright .container .addTodo ::-webkit-input-placeholder {
    font-size: 14px;
  }
  .bright .container .addTodo :-ms-input-placeholder {
    font-size: 14px;
  }
  .bright .container .addTodo ::-ms-input-placeholder {
    font-size: 14px;
  }
  .bright .container .addTodo ::placeholder {
    font-size: 14px;
  }
}

.bright .container .todoList {
  padding-left: 0;
  -webkit-box-shadow: 3px 3px 44px 0px rgba(1, 2, 19, 0.15);
          box-shadow: 3px 3px 44px 0px rgba(1, 2, 19, 0.15);
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.bright .container .todoList :hover {
  cursor: pointer;
}

.bright .container .todoList li {
  background-color: #fafafa;
  color: #484b6a;
  width: 20rem;
  border-radius: 3px 3px 0px 0px;
  height: 3.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 40em) {
  .bright .container .todoList li {
    width: 34rem;
    height: 4rem;
  }
}

.bright .container .todoListItem {
  border-bottom: 1px solid #d2d3db;
}

.bright .container .todoListItem:first-child {
  border-radius: 5px 5px 0 0 !important;
}

.bright .container .itemLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bright .container .todoList li label {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 0.75rem;
}

@media (min-width: 40em) {
  .bright .container .todoList li label {
    font-size: 14px;
  }
}

.bright .container .todoListItem:hover .itemLabel input {
  -webkit-box-shadow: 0px 0px 0px 1px #57ddff;
          box-shadow: 0px 0px 0px 1px #57ddff;
}

.bright .container .todoListItem:hover .cross {
  opacity: 1;
}

.bright .container li input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 0px 1px var(--light-grayish-blue);
          box-shadow: 0px 0px 0px 1px var(--light-grayish-blue);
  padding: 0.25rem;
  border-radius: 0.75rem;
  display: inline-block;
  position: relative;
}

.bright .container li input :hover .cross {
  opacity: 1;
}

.bright .container li input:checked {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#57ddff, #c058f3);
}

.bright .container li input:checked::after {
  content: url("../images/icon-check.svg");
}

.bright .container .cross {
  margin-right: 1rem;
  opacity: 1;
}

.bright .container .cross img {
  width: 10px;
  height: 10px;
}

@media (min-width: 40em) {
  .bright .container .cross {
    opacity: 0;
  }
}

.bright .container li input:hover .cross {
  opacity: 1;
}

.bright .container .controls {
  background-color: #fafafa;
  -webkit-box-shadow: 1px 20px 51px -2px rgba(1, 2, 19, 0.2);
          box-shadow: 1px 20px 51px -2px rgba(1, 2, 19, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
  height: 3.3125rem;
}

.bright .container p {
  color: var(--dark-grayish-blue);
}

.bright .container span {
  margin-left: 1rem;
  color: var(--light-grayish-blue);
}

.bright .container #clear {
  margin-right: 1rem;
  color: #9394a5;
}

.bright .container #clear:hover {
  color: #9394a5;
}

.bright .container .drag {
  color: var(--dark-grayish-blue);
  font-size: 0.85rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.bright .container .selected {
  text-decoration: line-through;
  color: #9394a5;
}

.bright .container .attribution {
  font-size: 0.75rem;
  color: var(--dark-grayish-blue);
  text-align: center;
}

.bright .container .attribution a {
  text-decoration: none;
}

.bright .container .hide-for-mobile {
  padding-left: 0;
  background-color: #fafafa;
  color: var(--dark-grayish-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.bright .container .hide-for-mobile :hover {
  color: #4d5066;
}

.bright .container .hide-for-mobile li {
  padding: 0.45rem;
}

.bright .container .hide-for-mobile li :hover {
  color: #4d5066;
}

@media (max-width: 40em) {
  .bright .container .hide-for-mobile {
    margin-top: 0 !important;
    display: none;
  }
}

.bright .container .hide-for-desktop {
  background-color: #fafafa;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  list-style-type: none;
  padding: 0.4rem;
  -webkit-box-shadow: 1px 20px 51px -2px rgba(1, 2, 19, 0.2);
          box-shadow: 1px 20px 51px -2px rgba(1, 2, 19, 0.2);
  height: 3.3125rem;
}

.bright .container .hide-for-desktop li {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: var(--dark-grayish-blue);
  text-decoration: none;
  padding: 0.45rem;
  font-size: 0.85rem;
}

@media (min-width: 40em) {
  .bright .container .hide-for-desktop {
    display: none;
    margin-top: 1rem !important;
  }
}
/*# sourceMappingURL=style.css.map */